<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Food</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_registration</display-name>
    <servlet-name>Login_registration</servlet-name>
    <servlet-class>com.db.Login_registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_registration</servlet-name>
    <url-pattern>/Login_registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Conn</display-name>
    <servlet-name>Login_Conn</servlet-name>
    <servlet-class>com.db.Login_Conn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Conn</servlet-name>
    <url-pattern>/Login_Conn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product_fetch</display-name>
    <servlet-name>Product_fetch</servlet-name>
    <servlet-class>com.db.Product_fetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product_fetch</servlet-name>
    <url-pattern>/Product_fetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart_fetch</display-name>
    <servlet-name>Cart_fetch</servlet-name>
    <servlet-class>com.db.Cart_fetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart_fetch</servlet-name>
    <url-pattern>/Cart_fetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartModal</display-name>
    <servlet-name>CartModal</servlet-name>
    <servlet-class>com.db.CartModal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartModal</servlet-name>
    <url-pattern>/CartModal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addtocart</display-name>
    <servlet-name>Addtocart</servlet-name>
    <servlet-class>com.db.Addtocart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addtocart</servlet-name>
    <url-pattern>/Addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.db.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Remove_product</display-name>
    <servlet-name>Remove_product</servlet-name>
    <servlet-class>com.db.Remove_product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remove_product</servlet-name>
    <url-pattern>/Remove_product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Removeproduct</display-name>
    <servlet-name>Removeproduct</servlet-name>
    <servlet-class>com.db.Removeproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Removeproduct</servlet-name>
    <url-pattern>/Removeproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUpdateCartItems</display-name>
    <servlet-name>ServletUpdateCartItems</servlet-name>
    <servlet-class>com.db.ServletUpdateCartItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpdateCartItems</servlet-name>
    <url-pattern>/ServletUpdateCartItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderCreation</display-name>
    <servlet-name>OrderCreation</servlet-name>
    <servlet-class>com.db.OrderCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderCreation</servlet-name>
    <url-pattern>/OrderCreation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout_user</display-name>
    <servlet-name>Logout_user</servlet-name>
    <servlet-class>com.db.Logout_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout_user</servlet-name>
    <url-pattern>/Logout_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEmail_display</display-name>
    <servlet-name>UserEmail_display</servlet-name>
    <servlet-class>com.db.UserEmail_display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEmail_display</servlet-name>
    <url-pattern>/UserEmail_display</url-pattern>
  </servlet-mapping>
</web-app>